.Card{
display: flex;
flex-flow: column;
padding: 10px;
align-items: flex-start;
margin: 10px;
border-radius: 10px;
border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

@media only screen and (max-width: 1200px) {
    .Card {
      max-width: 300px;
    }
  }

.ImgStyle{
    width: 50%;
    height: 50%;
    padding: 5px;
    margin: 10px;
    
}

.CardName{
    font-weight: bold;
    padding: 10px;
    margin: 5px;
}
.CardLink{
    text-decoration: none;
    color: inherit;

}

.CardDescription{
    text-align: left;
    font-size: 15px;
    color: #5e615e;
}

.Card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    
}


  