.AdvicePage{
    height: 74%;
}

.AdviceTitle {
    padding: 0;
    margin: 0;
}

.AdviceDescription{
    color: #5e615e;
    margin-bottom: 23px;
}

.AdviceImg{
    padding: 15px;   
    height: 20%;
    width: 20%; 
}


.AdviceText {
    max-width: 900px;
    margin: auto;
    padding: 0 30px;
    font-size: 20px;
}